<div class="card main-container">
  <div class="card-block">
    <div class="container-fluid fill">
      <div class="row fill">
        <div class="col-md-5 fill">
          <div class="card main-container">
            <div class="card-header">
              <b>Tipificación</b>
            </div>
            <div class="card-block">
              <br>
              <div class="content">
                <div *ngIf="showError()" class="alert alert-danger">
                  <strong>Error!</strong> {{error}}
                </div>
                <div class=" col-md-12">
                  <app-pdf-navigator (onPageChanged)="onPageChanged($event)" [pdfPage]="page" [totalPdfPages]="totalPdfPages">
                  </app-pdf-navigator>
                </div>
                <div class=" col-md-12">
                    <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="loadAllPdf" (ngModelChange)="loadAllPdfChange($event)"> pdf completo
                    </label>
                  </div>
                </div>
                <div class=" col-md-12">
                  <div class="form-group edit-control ng-scope">
                    <input type="text" disabled="disabled" form-control class="form-control" autocomplete="off" value="" />
                  </div>
                </div>
                <div class=" col-md-12">
                  <app-validate-form [productId]="productId" [processId]="processId" [page]="page" [pdfLoaded]="pdfLoaded" [process]="currentProcess"
                    (onTypificationSaved)="onTypificationSaved($event)" (onKeydown)="typeKeydown($event)">
                  </app-validate-form>
                </div>
              </div>
              <br>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="card main-container text-center">
            <div class="card-block" #pdfPanel>
              <!-- <progressbar class="progress progress-striped progress-animated" [max]="pdfSize" [value]="pdfSizeLoaded">
                <span style="color:white; white-space:nowrap;">{{pdfSizeLoaded}} / {{pdfSize}}</span>
              </progressbar> -->
              <div *ngIf="!pdfLoaded" class="progress">
                  <div class="progress-bar progress-bar-striped active" role="progressbar"
                  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    cargando
                  </div>
                </div>
              <pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;" [show-all]="false" [render-text]="false" [stick-to-page]="false"
                [(page)]="pdfPage" [original-size]="false" [fit-to-page]="true" [zoom]='pdfZoom' (after-load-complete)="onLoadPdfComplete($event)"
                (on-progress)="onProgressPdf($event)">
              </pdf-viewer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>